<span id="page-makeUpSchool" class="page-container">

        <div class="segment1" target-class="segment1">
            <div class=" container ">
                <div class="row ">
                    <div class="col-12 segmentTitle ">
                        <h2 class="titleGrey">Personal</h2>
                        <h2 class="titleGrey textColor1">Make up Class</h2>
                        <p class="subtitle">PACKAGE CAN BE UPGRADE DUE TO STUDENT'S NEEDS</p>
                    </div>
                </div>
                <div class="row detailContainer">

                    <div class="col-4 text-center detail">
                        <div class="row">
                            <div class="col-12">
                                 <p class="title">PACKAGE A (2x meetings) <br/> IDR 4.500.000  </p>
                                 <p>Daily & Party Make Up</p>
                            </div>
                        </div>

                    </div>

                     <div class="col-4 text-center detail">
                        <div class="row">
                            <div class="col-12">
                                 <p class="title">PACKAGE B (4x meetings) <br/> IDR 4.500.000  </p>
                                 <p>Daily & Party Make Up</p>
                            </div>
                        </div>

                    </div>


                     <div class="col-4 text-center detail">
                        <div class="row">
                            <div class="col-12">
                                 <p class="title">PACKAGE C (6x meetings) <br/> IDR 4.500.000  </p>
                                 <p>Daily & Party Make Up</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>


        <div class="segment2" target-class="segment2">
            <div class=" container ">
                <div class="row ">
                    <div class="col-12 segmentTitle ">
                        <h2 class="titleGrey">PRO</h2>
                        <h2 class="titleGrey textColor1">Make up Class</h2>
                        {{--<p class="subtitle">PACKAGE CAN BE UPGRADE DUE TO STUDENT'S NEEDS</p>--}}
                    </div>
                </div>
                <div class="row detailContainer">

                    {{--detail bottom--}}
                    <div class="col-4 text-center detail">
                        <div class="row">
                            <div class="col-12 borderBottom">
                                 <p class="title">PACKAGE A (30x meetings) <br/> IDR 4.500.000  </p>
                                 <p>*with FINAL EXAM</p>
                            </div>
                            <div class="col-12">
                                     <p class="title">Basic Make Up</p>
                                     <p>Daily Make Up (2x)</p>
                                     <p>Party Make Up (2x)</p>
                                </div>

                            <div class="col-12">
                                     <p class="title">Photoshoot Make Up</p>
                                     <p>Fashion Make Up (3x)</p>
                                     <p>Beauty Clean Make Up (3x)</p>
                                </div>

                            <div class="col-12">
                                     <p class="title">Bridal Make Up</p>
                                     <p>Traditional Bridal (10x)</p>
                                     <p>Modern Bridal (10x)</p>
                                </div>
                        </div>

                    </div>



                    {{--detailbottom2--}}
                    <div class="col-4 text-center detail">
                        <div class="row">
                            <div class="col-12 borderBottom">
                                 <p class="title">PACKAGE B (45x meetings) <br/> IDR 4.500.000  </p>
                                 <p>*with FINAL EXAM</p>
                            </div>
                            <div class="col-12">
                                     <p class="title">Basic Make Up</p>
                                     <p>Daily Make Up (3x)</p>
                                     <p>Party Make Up (3x)</p>
                                </div>

                            <div class="col-12">
                                     <p class="title">Photoshoot Make Up</p>
                                     <p>Fashion Make Up (5x)</p>
                                     <p>Beauty Clean Make Up (4x)</p>
                                </div>

                            <div class="col-12">
                                     <p class="title">Bridal Make Up</p>
                                     <p>Traditional Bridal (15x)</p>
                                     <p>Modern Bridal (15x)</p>
                                </div>
                        </div>

                    </div>



                    {{--detailbottom3--}}

                    <div class="col-4 text-center detail">
                        <div class="row">
                            <div class="col-12 borderBottom">
                                 <p class="title">PACKAGE C (60x meetings) <br/> IDR 4.500.000  </p>
                                 <p>*with FINAL EXAM</p>
                            </div>
                            <div class="col-12">
                                     <p class="title">Basic Make Up</p>
                                     <p>Daily Make Up (3x)</p>
                                     <p>Party Make Up (3x)</p>
                                </div>

                            <div class="col-12">
                                     <p class="title">Photoshoot Make Up</p>
                                     <p>Fashion Make Up (6x)</p>
                                     <p>Beauty Clean Make Up (6x)</p>
                                </div>

                            <div class="col-12">
                                 <p class="title">Bridal Make Up</p>
                                 <p>Traditional Bridal (20x)</p>
                                 <p>Modern Bridal (20x)</p>
                            </div>
                            <div class="col-12">
                                 <p class="title">Fantasy Make Up</p>
                                 <p>2(x)</p>
                            </div>
                        </div>

                    </div>

                </div>


            </div>


                    </div>


    </div>

    </div>
    </div>


    </span>